{% extends 'carwash/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% if carwash == 9 %}

    <h1>Please Claim your free Code <a href="{% url 'redeem_code' %}">Here</a></h1>

    {% else %}

    <h1>PLEASE ENTER CODE</h1> 

    <form action="" method="POST">
        {% csrf_token %}

            <div class="mb-3">
              <label for="Enter Code" class="form-label">Enter Loyalty Code</label>
              <input type="text" class="form-control" name="loyalty">
            </div>         

        <input type="submit" value="Submit" class="btn btn-secondary">
    </form>

    {% endif %}


Data: {{ data }} <br/><br/><br/>

Used Codes: {{ used_codes }}<br/><br/><br/>

Loop: {{ user_data.carwash_purchased }}



{% else %}
    <h1>Sorry! You must be logged in to view this page</h1>
{% endif %}
{% endblock %}